
// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

// - Soft blue: hsl(215, 51%, 70%)
// - Cyan: hsl(178, 100%, 50%)

// ### Neutral

// - Very dark blue (main BG): hsl(217, 54%, 11%)
// - Very dark blue (card BG): hsl(216, 50%, 16%)
// - Very dark blue (line): hsl(215, 32%, 27%)
// - White: hsl(0, 0%, 100%)

// ## Typography

// ### Body Copy

// - Font size (paragraph): 18px

// ### Font

// - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
// - Weights: 300, 400, 600

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:wght@100&display=swap');
$font-stack:'Outfit', sans-serif;

 $primary-color: hsl(215, 51%, 70%);
 $secondary-color:hsl(178, 100%, 50%);

 $font-size: 18px;

 $neutral-colors: (
     "main-bg": hsl(217, 54%, 11%),
     "card-bg": hsl(216, 50%, 16%),
     "line": hsl(215, 32%, 27%),
     "white": hsl(0, 0%, 100%)
 );

 $widths-nftCard:(
     "mobile": 90%,
     "desktop": 20%
 );



$font-weights: (
    "regular": 300,
    'medium': 400,
    'bold': 600
);

